<div class="flex flex-row gap-6">
    <!-- Main Content -->
    <div class="flex-1 space-y-6">
        <%- include('./gameInfo', { gameState, currentPlayerId }) %>
        <%- include('./topCard', { gameState }) %>
        <%- include('./playerCards', { gameState, currentPlayerId }) %>
    </div>

    <!-- Chat Section -->
    <div class="w-1/4 min-w-[300px] flex flex-col" style="height: 80vh;">
        <%- include('../partials/chat.ejs', { roomId: roomId }) %>
    </div>

    <div id="color-picker-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg text-center">
            <h2 class="text-lg font-semibold mb-4">Choose a color</h2>
            <div class="flex justify-center space-x-4">
                <button class="color-btn red card" data-color="red">Red</button>
                <button class="color-btn yellow card" data-color="yellow">Yellow</button>
                <button class="color-btn green card" data-color="green">Green</button>
                <button class="color-btn blue card" data-color="blue">Blue</button>
            </div>
        </div>
    </div>

<%- include('./scripts', { gameId, currentPlayerId }) %>